{% extends 'base.html' %}
{% load static %}

{% block title %}통합 솔루션{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'inbody.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<style>
    .img,
    .background-img {
        position: absolute;
        width: 80%;
        height: 50%;
        background-size: 1800px;
        background-repeat: no-repeat;
        border: 0px;
        top: 30%;
        opacity: 0.5;
        left: 20%;
        z-index: -3;
    }

    .bubble1 {
        background-size: cover;
    }

    .bubble2 {
        background-size: cover;
    }

    .bubble3 {
        background-size: cover;
    }

    .bubble4 {
        background-size: cover;
    }

    .bubble5 {
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}


<body>
    <header>
        <!-- Replace 'Your Logo' with the actual path or URL of your logo -->
        <img src="{% static 'Oikos_logo.png' %}" alt="Oikos_logo" height="100px" style="margin-left: 50px;">
        <div>
            {% if student_data %}
            <p>{{ student_data.school }}</p>
            <p>{{ student_data.grade }}학년 {{ student_data.class_num }}반 {{ student_data.number }}번</p>
            <p>{{ student_data.name }}</p>
            {% else %}
            <p>No data available</p>
            {% endif %}
        </div>
    </header>

    <nav>
        <p>카테고리</p>
        <a href="{% url 'main' %}">
            <span><i class="fa-solid fa-house"></i></span>
            <span>
                <div class="Title">메인 화면</div>
                <div class="subTitle">Main</div>
            </span>
        </a>
        <a href="{% url 'Xplaywall' %}">
            <span><i class="fa fa-solid fa-person-running"></i></span>
            <span>
                <div class="Title">엑스 플레이 월</div>
                <div class="subTitle">X-PLAYWALL</div>
            </span>
        </a>

        <a href="{% url 'Xfloor' %}">
            <span><i class="fa-solid fa-people-line"></i></span>
            <span>
                <div class="Title">엑스 플로어</div>
                <div class="subTitle">X-FLOOR</div>
            </span>
        </a>

        <a href="{% url 'inbody' %}" class="nav-hover">
            <span><i class="fa-solid fa-person"></i></span>
            <span>
                <div class="Title">체성분 관리</div>
                <div class="subTitle">Body composition management</div>
            </span>
        </a>

        <a href="{% url 'ranking' %}">
            <span><i class="fa-solid fa-ranking-star"></i></span>
            <span>
                <div class="Title">랭킹</div>
                <div class="subTitle">Ranking</div>
            </span>
        </a>

        <a href="{% url 'login' %}">
            <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
            <span>
                <div class="Title">로그아웃</div>
                <div class="subTitle">LogOut</div>
            </span>
        </a>
    </nav>

    <main>
        <div class="title">
            <h2>체지방 측정 결과</h2>
            <p>현재 나의 몸 상태는?</p>
        </div>
        <img class="background-img" src="{% static 'Line 35.png' %}">

        <div class="bubble-container">
            <div>
                <div class="bubble bubble1">
                    <img src="{% static 'green.png' %}">

                    <h2>키와 몸무게</h2>
                    <div>
                        <div class="modal-title">키</div>
                        <div class="modal-inner">{{ most_recent_record.height }} {{ difference.height }}</div>
                    </div>
                    <div>
                        <div class="modal-title">몸무게</div>
                        <div class="modal-inner">{{ most_recent_record.weight }} {{ difference.weight }}</div>
                    </div>
                </div>

                <div class="bubble bubble2">
                    <img src="{% static 'blue.png' %}">

                    <h2>체지방량과 체지방률</h2>
                    <div>
                        <div class="modal-title">체지방량</div>
                        <div class="modal-inner">{{ most_recent_record.fat }} {{ difference.fat }}</div>
                    </div>
                    <div>
                        <div class="modal-title">체지방률</div>
                        <div class="modal-inner">{{ most_recent_record.fat_ratio }} {{ difference.fat_ratio }}</div>
                    </div>
                </div>

                <div class="bubble bubble3">
                    <img src="{% static 'orange.png' %}">

                    <h2>근육량과 골격근량</h2>
                    <div>
                        <div class="modal-title">근육량</div>
                        <div class="modal-inner">{{ most_recent_record.muscle }} {{ difference.muscle }}</div>
                    </div>
                    <div>
                        <div class="modal-title">골격근량</div>
                        <div class="modal-inner">{{ most_recent_record.skeletal_muscle }} {{ difference.skeletal_muscle }}</div>
                    </div>
                </div>

            </div>
            <div>
                <div class="bubble bubble4">
                    <img src="{% static 'purple.png' %}">

                    <h2>체수분량</h2>
                    <div>
                        <div class="modal-title">체수분량</div>
                        <div class="modal-inner">{{ most_recent_record.water_content }} {{ difference.water_content }}</div>
                    </div>
                </div>
                <div class="bubble bubble5">
                    <img src="{% static 'babypink.png' %}">
 
                    <h2>BMI</h2>
                    <div>
                        <div class="modal-title">BMI</div>
                        <div class="modal-inner">{{ most_recent_record.bmi }} {{ difference.bmi }}</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}