{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="paps.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<style>
    .img,
    .background-img {
        position: absolute;
        width: 80%;
        height: 50%;
        background-size: 1800px;
        background-repeat: no-repeat;
        border: 0px;
        top: 30%;
        opacity: 0.5;
        left: 20%;
        z-index: -3;
    }

    .bubble1 {
        background-size: cover;
    }

    .bubble2 {
        background-size: cover;
    }

    .bubble3 {
        background-size: cover;
    }

    .bubble4 {
        background-size: cover;
    }

    .bubble5 {
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}

<body>
    <header>
        <!-- Replace 'Your Logo' with the actual path or URL of your logo -->
        <img src="{% static 'Oikos_logo.png' %}" alt="Oikos_logo" height="100px" style="margin-left: 50px;">
        <div>
            {% if student_data %}
            <p>{{ student_data.school }}</p>
            <p>{{ student_data.grade }}학년 {{ student_data.class_num }}반 {{ student_data.number }}번</p>
            <p>{{ student_data.name }}</p>
            {% else %}
            <p>No data available</p>
            {% endif %}
        </div>
    </header>

    <nav>
        <p>카테고리</p>
        <a href="{% url 'main' %}">
            <span><i class="fa-solid fa-house"></i></span>
            <span>
                <div class="Title">메인 화면</div>
                <div class="subTitle">Main</div>
            </span>
        </a>
        <a href="{% url 'Xplaywall' %}">
            <span><i class="fa fa-solid fa-person-running"></i></span>
            <span>
                <div class="Title">엑스 플레이 월</div>
                <div class="subTitle">X-PLAYWALL</div>
            </span>
        </a>

        <a href="{% url 'Xfloor' %}">
            <span><i class="fa-solid fa-people-line"></i></span>
            <span>
                <div class="Title">엑스 플로어</div>
                <div class="subTitle">X-FLOOR</div>
            </span>
        </a>

        <a href="{% url 'inbody' %}" class="nav-hover">
            <span><i class="fa-solid fa-person"></i></span>
            <span>
                <div class="Title">체성분 관리</div>
                <div class="subTitle">Body composition management</div>
            </span>
        </a>

        <a href="{% url 'ranking' %}">
            <span><i class="fa-solid fa-ranking-star"></i></span>
            <span>
                <div class="Title">랭킹</div>
                <div class="subTitle">Ranking</div>
            </span>
        </a>

        <a href="{% url 'paps' %}">
            <span><i class="fa-solid fa-ranking-star"></i></span>
            <span>
                <div class="Title">팝스</div>
                <div class="subTitle">PAPS</div>
            </span>
        </a>

        <a href="{% url 'login' %}">
            <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
            <span>
                <div class="Title">로그아웃</div>
                <div class="subTitle">LogOut</div>
            </span>
        </a>
    </nav>


    <main>
        <div class="title">
            <h2>팝스 기록</h2>
            <p>운동실력이 얼마나 늘었을까?</p>
        </div>
    
        <!-- Wrap the bubbles inside a parent div with the class "bubble-container" -->
        <div class="bubble-container">
            <!-- Display records for each game type -->
            {% for game in games %}
            <div class="bubble">
                <h2>{{ game.game_type }}</h2>
    
                <!-- Display today's record -->
                {% if game.today_record %}
                <p>오늘의 기록: {{ game.today_record.score }}</p>
                {% else %}
                <p>오늘은 기록된게 없네요</p>
                {% endif %}
    
                <!-- Display highest record -->
                {% if game.highest_record %}
                <p>최고 기록: {{ game.highest_record.score }}</p>
                {% else %}
                <p>기록이 없네요</p>
                {% endif %}
    
                <!-- Display 3 recent records -->
                <p>최근 기록:
                    {% for record in game.recent_records %}
                    {{ record.score }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>
    </main>
   
</body>

{% endblock %}
