{% extends 'base.html' %}
{% load static %}

{% block title %}통합 솔루션{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'management.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}

<body>
    <header>
        <img src="{% static 'Oikos_logo.png' %}" alt="Oikos_logo" height="100px" style="margin-left: 50px;">
    </header>

    <main style="margin-top: 150px;">
    <h2>학교 선택 후 비밀번호를 입력해주세요</h2>
    <form method="post" class="school_password_form">
        {% csrf_token %}
        <div>
            <select name="school" id="school_select">
                <option value="" selected disabled>학교를 선택해 주세요</option>
                <option value="서울영남초등학교">서울영남초등학교</option>
                <option value="서울백석초등학교">서울백석초등학교</option>
                <!-- Add other school options as needed -->
            </select>
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요">
            <button type="submit" name="action" value="filter_students">조회</button>
        </div>
    </form>
    </main>

    <main id="studentData" class="studentData" style="display:none;">
        <h2>학생 정보 추가</h2>
        <p>학생을 추가해 주세요</p>
        <form method="post" class="student_table">
            {% csrf_token %}
            <div>
                <div>
                    <label for="id_uid"></label><br>
                    <input type="text" id="id_uid" name="uid" placeholder="UID (8자리)"><br>
                    <label for="id_name"></label><br>
                    <label for="id_school"></label><br>
                    <input type="text" id="id_school" name="school" placeholder="학교"><br>
                    <input type="text" id="id_name" name="name" placeholder="이름"><br>
                </div>
            </div>
            <div class="last-data">
                <label for="id_grade"></label><br>
                <input type="number" id="id_grade" name="grade" placeholder="학년"><br>
                <label for="id_class_num"></label><br>
                <input type="number" id="id_class_num" name="class_num" placeholder="반"><br>
                <label for="id_number"></label><br>
                <input type="number" id="id_number" name="number" placeholder="번호"><br>

                <span class="gender">
                    <label for="id_gender">성별:</label><br>
                    <input id="check_btn" type="checkbox" id="id_gender" name="gender"><br>
                    <p class="gender_into">※ 여자는 체크해 주세요!</p>
                </span>
                <button type="submit" name="action" value="create" class="save_btn">저장</button>
            </div>
        </form>

        <h2>학생 정보 수정</h2>
        <p>학생 정보를 수정할 수 있습니다</p>
        <table border="1">
            <tr>
                <th>UID</th>
                <th>이름</th>
                <th>학교</th>
                <th>학년</th>
                <th>반</th>
                <th>번호</th>
                <th>성별</th>
                <th>액션</th>
            </tr>
            {% for student in students %}
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input type="text" name="uid" value="{{ student.uid }}"></td>
                    <td><input type="text" name="name" value="{{ student.name }}"></td>
                    <td><input type="text" name="school" value="{{ student.school }}"></td>
                    <td><input type="number" name="grade" value="{{ student.grade }}"></td>
                    <td><input type="number" name="class_num" value="{{ student.class_num }}"></td>
                    <td><input type="number" name="number" value="{{ student.number }}"></td>
                    <td><input id="check_btn" type="checkbox" name="gender" {% if student.gender %}checked{% endif %}></td>
                    <td>
                        <button type="submit" name="action" value="update" class="btn">저장</button>
                        <button type="submit" name="action" value="delete" class="btn">삭제</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </main>

    <br><br><br>

    {% if students %}
    <script>
        $(document).ready(function() {
            $('#studentData').show();
        });
    </script>
    {% endif %}
</body>
{% endblock %}

