{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'management.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}

<!-- Student list -->
<h2>학생 정보 수정</h2>
<table border="1">
    <thead>
        <tr>
            <th>UID</th>
            <th>이름</th>
            <th>학교</th>
            <th>학년</th>
            <th>반</th>
            <th>번호</th>
            <th>성별</th>
            <th>액션</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.uid }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.school }}</td>
            <td>{{ student.grade }}</td>
            <td>{{ student.class_num }}</td>
            <td>{{ student.number }}</td>
            <td>{{ student.gender }}</td>
            <!-- Add action buttons for updating and deleting -->
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
