
{% extends 'base.html' %}
{% load static %}

{% block title %}통합 솔루션{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'login.css' %}">

{% if messages %}
<div id="alert-messages"
    data-messages="{% for message in messages %}{{ message|safe }}{% if not forloop.last %}\n{% endif %}{% endfor %}">
</div>
<script>
    // JavaScript to show an alert when there are messages
    window.onload = function () {
        var alertDiv = document.getElementById('alert-messages');
        if (alertDiv) {
            var messageList = alertDiv.dataset.messages.split('\n');
            alert(messageList.join('\n'));
        }
    };
</script>
{% endif %}

{% endblock %}

{% block content %}


<body class="login-container">
    <form method="post" action="{% url 'login' %}">

        <div class="logo">
            <!-- Updated logo image source -->
            <img src="{% static 'Oikos_logo.png' %}" alt="Oikos_logo">
        </div>

        {% csrf_token %}


        <div class="form-group">
            <label for="id_school" class="label"></label>
            <select id="id_school" class="dropdown-box" name="school" required>
                <option class="option" disabled selected>학교를 선택해 주세요</option>
                <option class="option" value="서울영남초등학교">서울영남초등학교</option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_password" class="label"></label>
            <input type="password" id="id_password" class="input-box" name="password" placeholder="비밀번호를 입력해 주세요"
                required>
        </div>

        <div class="password-describe">※ 비밀번호는 5자리 숫자 (학년 + 반 + 번호)입니다.<br>예시 | 3학년 5반 12번은 30512</div>
        <button type="submit" class="login-button">로그인</button>
    </form>
</body>

{% endblock %}
