/* inbody.css */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

:root {
    --bg-color: #ffffff;
    --bg-subcolor: #FAFAFA;
    --primary-bg-color: #333740;
    --primary-color: #289E90;
    --light-color: #E5F1EF;
    --text-color: #99A1A1;
    --text-active: #ffffff;
    --border-color: #86b8bd;
}

/* Define styles for the main container */
main {
    padding: 20px;
}

/* Define styles for the bubble container */
.bubble-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    /* Move all bubbles 100px below */
}

.bubble-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.bubble > div {
    width: 100%;
    height: 50px;
    margin-left: 65px;
}

.modal-title{
    width: 100%;
    font-size: 16px;
    opacity: 0.8;
    text-align: center;
}

.modal-inner {
    width: 100%;
    font-size: 24px;
    color: #fff;
    padding: 20px;
    font-weight: 600;
    margin-left: -150px;
    text-align: center;

}


/* Define styles for each bubble */
.bubble {
    position: relative;
    font-family: 'Pretendard-Regular';
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 300px;
    /* doubled the size */
    height: 300px;
    /* doubled the size */
    border-radius: 50%;
    /* ensure border-radius creates a circle */
/*     box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15); */
}

.bubble img {
    z-index: -2;
    position: absolute;
    width: 95%;
    height: 95%;
}
/* Define styles for specific bubbles */
.bubble:nth-child(2),
.bubble:nth-child(4) {
   /*  margin-top: 160px; */
    /* Adjust the top margin for 2nd and 4th bubbles */
}

/*
.bubble:nth-child(1) h2{
    margin-top: 70px;
    margin-left: 80px;
}

.bubble:nth-child(1) p{
    margin-left: 80px;
}


.bubble:nth-child(2) {
    background-image: url(../static/mintBubble.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    margin-top: 300px;
}

.bubble:nth-child(2) h2{
    margin-top: 20px;
    margin-left: 20px;
}

.bubble:nth-child(2) p{
    margin-left: 20px;
}

.bubble:nth-child(3) {
    background-image: url(../static/OrangeBubble.png);
    background-size: cover;
    margin-top: -100px;
}

.bubble:nth-child(3) h2{
    margin-top: 50px;
    margin-left: 20px;
}

.bubble:nth-child(3) p{
    margin-left: 20px;
}


.bubble:nth-child(4) {
    background-image: url(../static/skyBubble.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    margin-top: 200px;
}

.bubble:nth-child(4) {
    background-image: url(../static/skyBubble.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    margin-top: 200px;
}

.bubble:nth-child(4) h2{
    margin-top: 60px;
    margin-left: 70px;
}
.bubble:nth-child(4) p{
    margin-left: 70px;
}

.bubble:hover {
    filter: brightness(90%);
}

.bubble h2 {
    letter-spacing: 1px;
}

.bubble p {
    font-size: 20px;
    letter-spacing: 0.5px;
} */
