@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

:root {
    --bg-color: #ffffff;
    --bg-subcolor: #FAFAFA;
    --primary-bg-color: #333740;
    --primary-color: #289E90;
    --light-color: #E5F1EF;
    --text-color: #99A1A1;
    --text-active: #ffffff;
    --border-color: #86b8bd;
}

.alert-danger {
    color: #d31b2d !important;
    font-size: 22px !important;
    margin-left: 20px !important;
}
body {
    overflow-y: scroll;
    height: 100vh;
    margin-bottom: 1800px;
}

body::-webkit-scrollbar {
    display: none;
}

.studentData, .userData {
    height: 100vh;
    margin-bottom: 200px;
}

.userData {
    width: 1920px;
}
.studentData h2, .userData h2 , .login h2 {
    color: #289E90;
    font-weight: 800;
    margin-top: 60px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 450px;
}

.login form div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 300px;
}

.studentData p, .userData p {
    color: #99A1A1;
    margin-top: -10px;
}

main {
    margin-left: 70px !important;
    margin-bottom: 500px;
}

header {
    background-color: white !important;
}

.student_table, .user_table {
    margin-right: 300px;
    margin-top: -30px;
    background-color: #fff;
    width: 100%;
    height: 150px;
    margin-bottom: 100px;
}

.student_table input:focus, .user_table input:focus {
    outline: 2px solid var(--border-color);
    color: var(--primary-color);
}

.student_table input, .user_table input{
    width: 200px;
    height: 20px;
    font-size: 18px;
    padding: 20px;
    font-family: 'Pretendard-Regular';
    letter-spacing: -1px;
    background-color: #F6F7F5;
    background-color: #F6F7F5;
    font-weight: 500; 
    color: var(--primary-color);
    border: none;
}

.genter_table {
    width: 200px;
}

.genter_table input {
    width: 15px !important;
    height: 15px  !important;
}


.gender {
    width: 180px;
    height: 20px;
    font-size: 18px;
    padding: 20px;
    font-family: 'Pretendard-Regular';
    letter-spacing: -1px;
    background-color: #F6F7F5;
    background-color: #F6F7F5;
    font-weight: 500; 
    color: var(--text-color);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.gender input {
    width: 30px;
    height: 30px;
}

.gender_into {
    position: absolute;
    font-size: 16px;
    top: 130%;
}
.student_table input::placeholder, .user_table input::placeholder{
    color: var(--text-color);
}

.student_table div, .user_table div {
    display: flex;
    margin-top: 30px;
    width: 1600px;
} 

.student_table div input {
    margin-left: 20px;
}

.last-data {
    display: flex;
    align-items: center;
    position: relative;
}

.save_btn, .inquiry-btn {
    font-family: 'Pretendard-Regular';
    width: 100px;
    height: 50px;
    /* Adjust the width as needed (1/3 of the original size) */
    padding: 10px;
    /* Adjust the padding as needed */
    background-color: var(--border-color);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
/*     margin-left: 350px;
 */    opacity: 0.8;
}

.inquiry-btn {
    margin-top: 30px;
}

.search {
    margin-top: 0 !important;
}


.btn {
    font-family: 'Pretendard-Regular';
    width: 60px;
    height: 40px;
    /* Adjust the width as needed (1/3 of the original size) */
    padding: 10px;
    /* Adjust the padding as needed */
    background-color: var(--border-color);
    opacity: 0.8;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.save_btn:hover, .save_btn:focus, .btn:hover, .btn:focus, .login-btn:hover, .login-btn:focus {
    background-color: var(--primary-color);
    opacity: 1.0;
}

.ranking-container {
    font-family: "Pretendard-Regular";
    width: 500px;
    max-width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-right: 100px;
    height: 400px;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    color: var(--primary-color);
    text-align: center;
}

th {
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    padding: 20px;
    background-color: var(--bg-subcolor);
    border: #289E90 1.8px solid;
}

td input {
    font-family: 'Pretendard-Regular';
}
tr {
    font-family: "Pretendard-Regular";
}

tr input {
    border: none;
    width: 130px;
    text-align: center;
}

tr input:focus {
    outline: 2px solid var(--border-color);
    color: var(--primary-color);
}

.table {
    border: #289E90 1.8px solid;
    margin-top: 40px;
    width: 1500px;
}

input[type="checkbox"]{
    border: #289E90 1.8px solid;
    background-color: #289E90;
}

.user-info input{
    font-size: 17px;
    width: 160px;
    height: 70px;
}

.user-info input:focus{
    outline: none;
}

#check_btn{
    width: 20px;
    height: 20px;
}

.dropdown-box,
    .input-box {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 350px;
        height: 70px;
        font-family: 'Pretendard-Regular';
        color: var(--text-color);
        font-size: 18px;
        letter-spacing: -1px;
        background-color: #F6F7F5;
        font-weight: 500;        
        /* Adjust the width as needed */
        padding: 10px 30px;
        margin: 10px 0;
        /* Adjust the margin as needed */
        border: none;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
        text-align: left;
    }

    .login-dropbox,  .center_password_form input{
        border-radius: 15px;
    }

    .password-describe {
        font-size: 16px;
        text-align: center;
        color: var(--text-color);
        font-family: 'Pretendard-Regular';
        margin: 10px;
        line-height: 24px;
    }


    select:focus {
        background-color: #F6F7F5;
        margin: 40px;
    }

    .option{
        line-height: 50px;
        font-size: 25px;
        display: inline-block;
        height: 50px;
    }


    select:focus,
    input:focus {
        outline: 2px solid var(--border-color);
        color: var(--primary-color);
    }

    input::placeholder{
        color: var(--text-color);
    }


    .login-button {
        font-family: 'Pretendard-Regular';
        width: 108px;
        height: 50px;
        /* Adjust the width as needed (1/3 of the original size) */
        padding: 10px;
        /* Adjust the padding as needed */
        background-color: var(--border-color);
        color: #fff;
        font-size: 18px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        margin-top: 50px;
    }

    .login-button:hover
    {
        background-color: var(--primary-color);
    }

    .dropdown-box:focus {
        border-color: #007bff;
        width: 350px;
        height: 70px;
    }

    .dropdown-list-container {
        display: none;
        position: absolute; /* Changed to absolute */
        top: 100%; /* Position below the dropdown box */
        left: 0; /* Align with the left edge of the dropdown box */
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1;
        text-align: left;
        width: 350px; /* Match width of the dropdown box */
    }

    .dropdown-box:focus + .dropdown-list-container {
        display: block;
        text-align: left;
    }

    .option {
        line-height: 50px;
        font-size: 25px;
        display: inline-block;
        height: 50px;
        padding: 0 10px;
        box-sizing: border-box;
        margin-top: 50px;
      }