
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --bg-color: #ffffff;
    --bg-subcolor: #FAFAFA;
    --primary-bg-color: #333740;
    --primary-color: #289E90;
    --light-color: #E5F1EF;
    --text-color: #99A1A1;
    --text-active: #ffffff;
    --border-color: #86b8bd;
}

/* Define styles for the main container */
main {
    padding: 20px;
}

.bubble-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* Allow the bubbles to wrap into multiple rows */
    margin-top: 30px;
}

.bubble {
    position: relative;
    font-family: 'Pretendard-Regular';
    color: #000;
    /* Change text color to black for better contrast with white background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
    /* Create a gap between the bubbles */
    border: 2px solid #000;
    /* Add a border */
    border-radius: 15px;
    /* Make the border round-cornered */
    background-color: #fff;
    /* Fill the bubbles with white color */
}

/* Add different border colors to each bubble */
.bubble:nth-child(1) {
    border-color: #8d6e63;
    /* Brown */
}

.bubble:nth-child(2) {
    border-color: #7e57c2;
    /* Deep purple */
}

.bubble:nth-child(3) {
    border-color: #26a69a;
    /* Teal */
}

.bubble:nth-child(4) {
    border-color: #ff7043;
    /* Deep orange */
}

.bubble:nth-child(5) {
    border-color: #78909c;
    /* Blue grey */
}