@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

    :root {
    --bg-color: #ffffff;
    --primary-bg-color: #333740;
    --bg-subcolor: #FAFAFA;
    --primary-color: #013DFD;
    --text-color: #AABDBF;
    --text-active: #ffffff;
    --border-color: #86b8bd;
    }

    .modal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1001;
    }
    
    .modal-content {
        background-color: #fff;
        padding: 20px;
        width: 90%;
        max-width: 800px;
        max-height: 80vh; /* Ensure the modal is limited in height */
        overflow: hidden; /* Prevent modal itself from scrolling */
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    #modalContent {
        flex-grow: 1; /* Allows modal content to expand */
        overflow-y: auto; /* Ensures the inner content can scroll */
        max-height: 70vh; /* Adjust so all content is scrollable */
    }

 .modal-date{
    color: var(--primary-color);
 }
 .modal-Con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    color: var(--primary-color);
    font-weight: 800;
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 100%;
}

#modalContent:nth-child(1){
    margin-top: 20px;
}

.modal-title{
    font-size: 16px;
    opacity: 0.8;
}

.modal-inner {
    font-size: 24px;
    color: var(--primary-color);
    padding: 20px;
    font-weight: 600;
    margin-left: -150px;
}

.close-modal-btn {
    align-self: center;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #013DFD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal-btn:hover
{
    background-color: var(--primary-color);
    color: #fff;
}
