.info-bubble {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bubble {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 250px;
    /* doubled the size */
    height: 250px;
    /* doubled the size */
    border-radius: 50%;
    /* ensure border-radius creates a circle */
}

.bubble:nth-child(1) {
    background-color: #2FBFDE;
}

.bubble:nth-child(2) {
    background-color: #5A6ACF;
    width: 300px;
    height: 300px;
    margin-top: 200px;
}

.bubble:nth-child(3) {
    background-color: #F99C30;
}

.bubble:nth-child(4) {
    background-color: #FF6B4A;
    width: 300px;
    height: 300px;
    margin-top: 200px;
}

.bubble:hover {
    filter: brightness(90%);
}