{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'popup_modal.css' %}">
{% endblock %}

<body>
    <div class="modal-container" id="modalContainer">
        <div class="modal-content">
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% else %}
            <p id="modalContent">
                <div>
                    <div class="modal-date">[ 날짜 ]</div>
                    <div class="modal-date">{{ year }}-{{ month }}-{{ day }}</div>
                </div>
                <div class="modal-Con">
                    <div class="modal-title">총 운동 시간</div>
                    <div class="modal-inner" >{{ total_hours }}시간 {{ total_minutes }}분 {{ total_seconds }}초</div>
                </div>
                <div class="modal-Con">
                    <div class="modal-title">총 소모 칼로리</div>
                    <div class="modal-inner">{{ total_calories|floatformat:2 }} kcal</div>
                </div>
            </p>
            {% endif %}
            <button class="close-modal-btn" onclick="closeModal()">닫기</button>
        </div>
    </div>

    <!-- Add your JavaScript file or include the existing one -->
    <script src="{% static 'main.js' %}"></script>

</body>